body {
    background-color: #2081C3;

    font-family: 'Roboto', sans-serif;
}



.create-account-container {
    width: 25em;

    margin: 10em auto 0;
    border-radius: 10px;
    padding: 1em;
    box-shadow: 1px 2px 5px #303030;

    background-color: #f1f1f9;

    color: #101935;
}

.create-account-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-account-input {
    width: 90%;

    margin: 1.2em 0;
    border: none;
    border-bottom: 1px solid #bfbfc7;

    font-size: 1.2em;
    font-family: inherit;
    color: inherit;
}

.create-account-button {
    width: 10em;
    height: 2em;

    margin: 2em 0;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 2px 3px #303030;

    background-color: #5FBB97;

    font-size: 1em;
    font-family: inherit;
    color: inherit;

    cursor: pointer;
}