body {
    background-color: #2081C3;

    font-family: 'Roboto', sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;

    padding: 2em;
}


.navbar-title {
    margin: 0;

    font-size: 2em;
}