{% extends "navbar.html" %}

{% block to_do_list %}

<head>
    <link rel="stylesheet" href='..\static\css\toDoList.css'>
</head>

<div class="to-do-list-container">

    {% if tasks %}

        <div class="tasks-container">

            {% for task in tasks %}
                
                <div class="task-container">
                    <p class="task-info task">{{ task["task"] }}</p>
                    <div class="task-right">
                        <div class="task-right-left">
                            
                            {% if task["priority"] %}
                                <p class="task-info task-priority">{{ task["priority"] }}</p>
                            {% endif %}
                            <p class="task-info">{{ task["created_time_date"] }}</p>
                        
                        </div>
                        
                        <div class="task-right-right">
                            <p class="task-info">{{ task["completed_time_date"] }}</p>
                        </div>
                    </div>
                </div>

            {% endfor %}
        
        </div>

    {% endif %}

</div>

{% endblock %}