{% extends "navbar.html" %}

{% block to_do_list %}

<head>
    <link rel="stylesheet" href='..\static\css\toDoList.css'>
</head>

<script src="..\static\js\toDoList.js"></script>

<div class="to-do-list-container">
    <div class="add-container">
        <button class="add-fields-button" type="button" onclick="showFields()">
            <img id="add-icon" class="add-icon" src='..\static\images\add.png'>
        </button>
        <div id="add-fields" class="add-fields hide">
            <input id="task-input" class="task-input" placeholder="Task" required>
            <select id="priority-input" class="priority-input">
                <option value="" disabled selected>Priority</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <button class="add-button" type="button" onclick="addTask()">Add</button>
        </div>
    </div>

    {% if tasks %}

        <div class="tasks-container">

            {% for task in tasks %}
                
                <div class="task-container">
                    <p class="task-info task">{{ task["task"] }}</p>
                    <div class="task-right">
                        <div class="task-right-left">
                            
                            {% if task["priority"] %}
                                <p class="task-info task-priority">{{ task["priority"] }}</p>
                            {% endif %}
                            <p class="task-info">{{ task["created_time_date"] }}</p>
                        
                        </div>
                        
                        <div class="task-right-right">
                            <div>
                                <input class="task-checkbox" type="checkbox" value={{ task["task_id"] }} onclick="checkTask(event)">
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        
        </div>

    {% endif %}
</div>

{% endblock %}